.assistance {
    font-family: Arial, sans-serif;
    margin: 20px;
    margin-top: 150px;
  }
  
  .assistance h2 {
    color: #fff;
    background-color: #000;
    width: 100%;
    font-size: 28px;
    margin-top: 0px;
  }
  
  .assistance h3 {
    color: #333;
    font-size: 24px;
    margin-top: 50px;
  }
  
  .assistance p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
  }

  .mt{
    margin-top: 20px;
  }
  
  .assistance h4 {
    color: #333;
    font-size: 20px;
    margin-top: 20px;
  }
  
  .assistance ul {
    list-style-type: none;
    padding: 0;
  }
  
  .service-container {
    text-align: center; /* Вирівнювання кнопок по центру */
  }
  
  .service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Вирівнювання кнопок по центру */
  }
  
  .service-btn {
    background-color: #000; /* Чорний колір */
    color: #ffc107; /* Жовтий колір тексту */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px; /* Відступ між кнопками */
    margin-bottom: 10px; /* Відступ між рядами */
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Плавна анімація зміни кольору при наведенні */
  }
  
  .service-btn:last-child {
    margin-right: 0; /* Відступ для останньої кнопки */
  }
  
  .service-btn:hover {
    background-color: #ffca28; 
    color:#000;
  }
  
  .service-btn:focus {
    outline: none;
  }
  