.models-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2; /* Цвет фона */
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .card {
    display: flex;
    flex-direction: column; /* Устанавливаем направление колонок */
    align-items: center; /* Выравниваем элементы по центру */
    width: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
  }
  

  .card:hover {
    transform: scale(1.05); /* Увеличение размера при наведении */
  }
  
  .card-image {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .under{
    display: flex;

}

  .description{
    margin-top: -20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    width: 100px; 
    text-align:center;
  }

  .engine {
    display: flex;
    align-items: center;
    margin-left: -12%;
  }
  
  .engine img{
    width:50px ;
    height:50px ;
  }

  .gear {
    display: flex;
    align-items: center;
    margin-left: -1%;
  }

  .gear img{
    width:30px ;
    height:30px ;
    margin-right: 18px;
  }

  .eco img {
    align-items: center;
    display: flex;
    width: 100px;
    height: 100px;
    margin-top: -80px;
    margin-left: -20px;
  }
  
  .add img {
    align-items: center;
    display:flex;
    width: 50px;
    height: 50px;
    margin-top: -52px; /* Поднимаем изображение выше */
    margin-left: 5px; /* Двигаем изображение правее */
  }

  .card-title {
    margin-top: 25px;
    font-size: 18px;
    color: #333;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  
  