.logo {
    display: flex;
    position: relative;
    left: 70px;
    top: 10px;
    cursor: pointer;
}


.search {
    background-color: transparent;
    /* Прозрачный фон */
    border: 2px solid #ccc;
    /* Тонкая серая рамка */
    border-radius: 10px;
    /* Небольшой радиус закругления углов */
    padding: 8px 12px;
    /* Поля внутри инпута */
    box-shadow: none;
    /* Убираем тень */
    color: #333;
    /* Цвет текста */
    font-size: 16px;
    /* Размер текста */
    width: 200px;
    /* Ширина инпута */
    transition: border-color 0.3s ease;
    /* Плавное изменение цвета рамки */
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.search::placeholder {
    color: #999;
    /* Цвет placeholder */
}

.search:hover,
.search:focus {
    border-color: #999;
    /* Цвет рамки при наведении и фокусе */
    outline: none;
    /* Убираем контур при фокусе */
}

.modelsbtn,
.workshopbtn,
.fanshopbtn,
.renaultsportbtn {
    margin-right: 30px;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    color: white;
    background-color: black;
    cursor: pointer;
    border: 0;
}

.modelsbtn:hover,
.workshopbtn:hover,
.fanshopbtn:hover,
.renaultsportbtn:hover {
    font-style: normal;
    color: #555;
    border: 0;
}

.navigation {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -40px
}

.header {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}