.bar {
    display: flex;
    justify-content: center; /* Центрируем элементы по горизонтали */
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.pricelistsbtn,
.servicebtn,
.connectionbtn,
.warehousebtn {
    position: static;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
    cursor: pointer;
    margin: 0 15px; 
    transition: border 0.3s; 
    box-sizing: border-box; 
}

.pricelistsbtn:hover,
.servicebtn:hover,
.connectionbtn:hover,
.warehousebtn:hover {
    border: 1px solid yellow; 
}
